body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav_footer {
  position: absolute;
  bottom: 1em;
  left: 1em;
}

.live-display {
  box-shadow: rgb(233, 235, 237) 0px 0px 1px 1px,
    rgba(0, 7, 22, 0.12) 0px 1px 8px 2px;
  margin-top: 0.5em;
}

.api_picker_outer {
  border-bottom: 2px solid #0000;
}

.api_picker_outer_active {
  border-bottom: 2px solid #8c8c8c;
}

.api_picker_outer_active:hover {
  border-bottom: 2px solid black;
  background-color: #0000002b;
  cursor: pointer;
  border-radius: 0.1em;
}

.api_picker_inner_active {
  opacity: 0.3;
}
