body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#setup_wizard_spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#setup_wizard_outer {
  position: absolute;

  width: 100%;
  height: 100%;

  background-color: #c7d9ea;
}

#setup_wizard_inner {
  position: absolute;

  width: 100%;
  max-width: 80em;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav_footer {
  position: absolute;
  bottom: 1em;
  left: 1em;
}

.live-display {
  box-shadow:
    rgb(233, 235, 237) 0px 0px 1px 1px,
    rgba(0, 7, 22, 0.12) 0px 1px 8px 2px;
  margin-top: 0.5em;
  image-rendering: crisp-edges;
  width: 100%;
}

.api_picker_outer {
  border-bottom: 2px solid #0000;
}

.api_picker_outer_active {
  border-bottom: 2px solid #8c8c8c;
}

.api_picker_outer_active:hover {
  border-bottom: 2px solid black;
  background-color: #0000002b;
  cursor: pointer;
  border-radius: 0.1em;
}

.api_picker_inner_active {
  opacity: 0.3;
}

.terminal_wrap {
  padding: 1em;
  background-color: black;
  border-radius: 1em;
  box-shadow: 0 0 1em #0000001f;
}
