body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.live-display {
  box-shadow: rgb(233, 235, 237) 0px 0px 1px 1px,
    rgba(0, 7, 22, 0.12) 0px 1px 8px 2px;
  margin-top: 0.5em;
}
