name: tacd

on:
  pull_request:
    paths-ignore:
      - 'web/**'
  push:
    branches:
      - main
  schedule:
    - cron: '48 20 * * 4'

env:
  # Make sure cargo commands not only fail on hard errors but also on warnings
  # so we do not accidentally miss newly introduced warnings.
  RUSTFLAGS: -D warnings

jobs:
  fmt:
    name: cargo fmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: rustup toolchain install stable
      - run: cargo fmt --all -- --check

  clippy:
    strategy:
      matrix:
        features:
          - ""
          - "--features=demo_mode --no-default-features"
          - "--tests"
    name: cargo clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: sudo apt update
      - run: sudo apt install libsystemd-dev libiio-dev
      - run: rustup toolchain install stable
      - run: cargo clippy ${{ matrix.features }}

  check:
    strategy:
      fail-fast: false # Run against all versions even if one fails
      matrix:
        version:
          - "1.84" # Yocto walnascar
          - "1.90" # Yocto whinlatter
          - "nightly"
    name: cargo check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: sudo apt update
      - run: sudo apt install libsystemd-dev libiio-dev
      - run: rustup toolchain install ${{ matrix.version }}
      - run: rustup run ${{ matrix.version }} cargo check

  deny:
    name: cargo deny
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: rustup toolchain install stable
      - run: cargo install --locked cargo-deny
      - run: cargo deny check

  test:
    name: cargo test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: sudo apt update
      - run: sudo apt install libsystemd-dev libiio-dev
      - run: rustup toolchain install stable
      - run: cargo test
